/* 
    Document   : style
    Created on : Mar 9, 2013, 1:54:25 PM
    Author     : jleh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

body {
  font-family: Arial;
  font-size: 100%;
}

a:visited {
  color: blue;
}

.hidden {
  display: none;
}

#banneri {
  max-width: 100%;
}

.addForm {
  display: inline-block;
}

#forms {
  position: absolute;
  bottom: 0em;
  border: 1px solid;
  padding: 2em;
  box-shadow: 0 0 11px 5px;
  display: none;
  z-index: 1;
  background-color: white;
}

.resultRow {
  display: table-row;
  border-bottom: 1px solid black; 
}

.resultCell {
  display: table-cell;
  padding-right: 1.5em;
}

.resultCell.header {
  font-weight: bold;
}

.menuitem {
  display: inline-block;
}

#menu {
  margin-bottom: 1em;
}